@model OursweetGame.Models.Person


<h1>Enter your information below</h1>

<br />
<br />
@*<form action="/Game/ProcessCreateCharacter" method="post">

        Name of Character: <input type="text" id="Name" name="Name" />
        <br />
        Character Age: <input type="number" id="Age"  name="Age"/>
       <br />
        Character Job <input type="text" id="Job" name="Job"  />
        <br />
        <input type="submit" value="Create Character"/>


    </form>*@
@*@Html.TextBoxFor(m=> Model.)*@

Job : @Html.TextBoxFor(m => Model.Job)<br />
Age : @Html.TextBoxFor(m => Model.Age)<br />
Name : @Html.TextBoxFor(m => Model.Name)<br />




<div class="jumbotron">

    <form action="/Game/ProcessCreateCharacter" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Name">Name</label>
                @Html.TextBoxFor(m => Model.Job)
                <br />
            </div>

            <div class="form-group col-md-12">
                <label for="Age">Age</label>
                @Html.TextBoxFor(m => Model.Age)
                <br />
            </div>
            <div class="form-group col-md-12">
                <label for="Job">Job</label>
                @Html.TextBoxFor(m => Model.Name)
                <br />
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>



